
CLOUD_PROJECT_ID=xxxxxxxxxxx

CLOUD_STAGING_SSH_URL=x.xxx-xxxxxxxxx-xxxxx-xxxxxx@ssh.us-3.magento.cloud

CLOUD_STAGING_MYSQL_HOST=127.0.01
CLOUD_STAGING_MYSQL_USER=tester
CLOUD_STAGING_MYSQL_PASSWORD=mctersterson
CLOUD_STAGING_MYSQL_DATABASE=test
