<?xml version="1.0"?>
<!--
/**
 * A framework for benchmarking the performance of Magento 2
 *
 * @package   Iods_Performance
 * @author    Rye Miller <rye@drkstr.dev>
 * @copyright Copyright (c) 2021, Rye Miller (https://ryemiller.io)
 * @license   See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">

    <module name="Iods_Performance" setup_version="0.0.1">
        <sequence>
            <module name="Iods_Core" />
            <module name="Iods_Developer" />
            <module name="Iods_Bunyan" />
        </sequence>
    </module>
</config>
